html, body, #container{
	height: 100%;
}

html, body {
	margin: 0;
	font-family: Lato;
	font-weight: 200;

	color: white;
}

#container {
	height: auto;
	background-color: #0092BF;
	min-height: 100%;
	overflow: auto;
}

#logo {
	margin: 0 auto;
	padding: 40px;
	height: 100%;
	width: 40%;
}
#logo img {
	width: 100%;
}

#words {
	margin-left: 30%;
	margin-top: 15%;
	min-height: 580px;
	/* prevent flow into footer */
	padding-bottom: 3em;
}

#content {
	margin: 0 auto;
	width: 50%;
	padding-bottom: 3.5em;
}

#footer {
	position: relative;
	clear: both;
	margin-top: -3em;
	height: 3em;

	background-color: #333;

	text-align: center;
	line-height: 3em;
}

#banners {
	margin: 10% auto;
}
.banner {
	width: 100%;
	height: 150px;
	background-size: 100% auto;
	background-attachment: fixed;
	background-repeat: no-repeat;
	margin: 0;
	/*margin: 10px auto;*/

	text-align: right;
	color: rgba(255,255,255,0.2);
}
.banner:hover {
	color: white;
}
#banner1 {
	background-image: url("1.png");
}
#banner2 {
	background-image: url("3.png");
}
#banner3 {
	background-image: url("2.png");
}
#banner4 {
	background-image: url("4.jpg");
}
#banner4:hover {
	color: black;
}

h1 {
	font-weight: 200;
	font-family: Lato;
	margin: 0;
	letter-spacing: 0.5em;
	line-height: 1em;

	font-size: 3em;
}
.center {
	letter-spacing: normal;
	text-align: center;
}

p {
	font-size: 1.2em;
}

a {
	color: white;
	font-size: 1.8em;
}

.fade1 { color: rgba(255,255,255,0.3); }
.fade2 { color: rgba(255,255,255,0.4); }
.fade3 { color: rgba(255,255,255,0.5); }
.fade4 { color: rgba(255,255,255,0.7); }
.fade5 { color: rgba(255,255,255,0.8); font-weight: 500;}



/* Smartphones (portrait and landscape) ----------- */
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
/* Styles */
	html {
		font-size: 0.70em;
	}

	p {
		font-size: 1.5em;
	}

	.banner {
		background-size: auto 100%;
		background-position: center;
		background-attachment: scroll;
	}

	#words {
		margin-left: 10%
	}
}

/* Smartphones (landscape) ----------- */
@media only screen and (min-width : 321px) {
	html {
		font-size: 0.70em;
	}

	p {
		font-size: 1.5em;
	}

	.banner {
		background-position: center;
		background-attachment: scroll;
	}

	#words {
		margin-left: 10%
	}
}

/* Smartphones (portrait) ----------- */
@media only screen and (max-width : 320px) {
	html {
		font-size: 0.70em;
	}

	p {
		font-size: 1.5em;
	}

	.banner {
		background-size: auto 100%;
		background-position: center;
		background-attachment: scroll;
	}

	#words {
		margin-left: 10%
	}
}

/* Desktops and laptops ----------- */
@media only screen and (min-width : 1224px) {
	/*undo small sizings*/
	html {
		font-size: 1em;
	}

	p {
		font-size: 1.2em;
	}

	.banner {	
		background-size: 100% auto;
		background-attachment: fixed;
		background-repeat: no-repeat;
	}

	#words {
		margin-left: 30%;
	}
}